/* BODY OF THE PAGE */
/* linear-gradient( rgba(10, 10, 10, 0.1), rgba(10, 10, 10, 0.1) ), url('newyork.jpg'); */
body{
	height: 100vw;
    background-position: center;
	background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.9)), url(main-page-bg.jpg);
}

/* LOGO */
.mini-logo{
	margin-top: 0;
	background: linear-gradient( rgba(100, 100, 100, 0), rgba(10, 10, 10, 0.9) ), url('newyork.jpg');

}

/* MINI MENU */
.mini-menu{
	border-color: rgba(0, 0, 0, 0.0);
	border-width: 20px;
	border-style: solid;
	background-color: rgba(0, 0, 0, 0.5);
}

/* MINI MENU BUTTONS */
.mini-menu button{
	color: white;
	font-size: 20px;
	border: none;
	margin-left: 300px;
	background-color: rgba(0, 0, 0, 0.0); 
}

/* FOR THE BUTTONS */
.mini-menu button:hover{
	background-color: rgba(255, 255, 255, 0.6);
}

/***********************************************************************/
/* SALES ACCOUNT */
.sales-account-p{
	color: black;
	font-size: 30px;
	font-style: bold;
	margin-left: 325px;
}

/*  SALES ACCOUNT BOX */
.sales-account{
	color: white;
	width: 360px;
	height: 40px;
	margin-top: 25px;
	margin-left: 325px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	text-align: left;
	background: rgba(255, 255, 255, 0.6);
}

/* SALES ACCOUNT INSIDE BOX */
div:nth-of-type(3) div:nth-of-type(1){
	width: 360px;
	height: 90px;
	margin-top: 50px;
	margin-left: -3px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	text-align: left;
	background: rgba(255, 255, 255, 0.6);
}

/* THE LABEL FOR L5 SALES */
.sales-account label:nth-of-type(1){
	margin-top: 100px;
	color: red;
	font-size: 25px;
	font-style: italic;
}


/* THE LABEL FOR AVAILABLE BALANCE */
.sales-account div:nth-of-type(1) label{
	color: black;
	font-size: 20px;
	font-style: italic;
}
/***********************************************************************/
/* ACCOUNT DISPLAY */
div:nth-of-type(3) .account-display{
	color: black;
	width: 550px;
	height: 40px;
	margin-top: -165px;
	margin-left: 420px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	text-align: left;
	background: rgba(255, 255, 255, 0.6);
}

/* ACCOUNT DISPLAY BOTTOM BOX */
.sales-account .account-display div:nth-of-type(1){
	width: 550px;
	height: 315px;
	margin-top: 50px;
	margin-left: -1px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	background-color: rgba(255, 255, 255, 0.6);
}

/* THE LABEL FOR AVAILABLE BALANCE IN THE DISPLAY ACCOUNT DIV */
.sales-account .account-display div:nth-of-type(1) label{
	color: black;
	font-size: 20px;
	font-style: italic;
	margin-left: 30px;
}

/* ALL BUTTONS INSIDE OF THE 4RTH DIV */
div:nth-of-type(3) div:nth-of-type(1) button{
    background: rgba(100, 100, 100, 0.5);
    padding: 5px;
    color: white;
    font-size: 15px;
    border: 2px solid rgba(100, 100, 100, 0.5);
    margin-top: 150px;
    margin-left: 50px;
}


/* FIRST LETTER OF THE BUTTONS */
div:nth-of-type(3) button:first-letter{
	text-transform: uppercase;
}

/*  THE HI THAT IS INSIDE THE FIRST DIC THAT IS ISDIDE THE ACCOUNT-DISPLAY THAT IS INSIDE THE SALES ACCOUNT */
.sales-account .account-display div:nth-of-type(1) h1{
	color: black;
	font-size: 30px;
	font-style: bold;
	margin-left: 200px;
	font-style: italic;
}

/* THE THREE BUTTONS IN THE DISPLAY DIV */
.sales-account .account-display div:nth-of-type(1) button:hover {
	background: rgba(255, 255, 255, 0.6);
}

/***********************************************************************/
/* ESCO ACCOUNT */
.esco-account-p{
	color: black;
	font-size: 30px;
	font-style: bold;
	margin-left: 325px;
	margin-top: 110px;
}

/*  ESCO ACCOUNT BOX */
.esco-account{
	width: 360px;
	height: 40px;
	margin-top: 30px;
	margin-left: 325px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.6);
}

/* ESCO ACCOUNT INSIDE BOX */
div:nth-of-type(4) div{
	width: 360px;
	height: 90px;
	margin-left: -3px;
	margin-top: 50px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.6);
}

/* THE LABEL FOR AVAILABLE BALANCE */
.esco-account div:nth-of-type(1) label{
	color: black;
	font-size: 20px;
	font-style: italic;
}

/***********************************************************************/
/* SHOWING DETAILS */
.esco-account .showing{
	color: black;
	width: 550px;
	height: 40px;
	margin-top: 40px;
	margin-left: 425px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.6);
}

/* INNER BOX OF SHOWING DETAILS */
.esco-account .showing div:nth-of-type(1){
	color: black;
	width: 550px;
	height: 390px;
	margin-top: 40px;
	margin-left: -3px;
	border-color: rgba(0, 0, 0, 0.9);
	border-width: 3px;
	border-style: solid;
	background: rgba(255, 255, 255, 0.6);
 }

.esco-account .showing label{
	color: black;
	font-size: 20px;
	margin: center;
	word-spacing: 10px;
}




/***********************************************************************/




